button {
    background: none;
    background-color: rgba(235, 195, 83, 0.7);
    border-radius: 10px;
    padding: 2px 10px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button:has(img.icon) {
    min-width: 36px;
    min-height: 36px;
    padding: 2px
}
button:hover {
    background-color: rgba(235, 195, 83, 0.4);
    cursor: pointer;
}

button:active {
    background-color: rgba(235, 195, 83, 0.4);
}