#root {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 6fr;
    grid-template-areas:
        "aside main"
        "aside main";
}

#root aside {
    grid-area: aside;
    padding: 2rem;
    background-color: rgb(219, 142, 91, 0.5);

    display: flex;
    flex-direction: column;
    gap: 2rem
}

#root main {
    grid-area: main;
    padding: 2rem;
}