* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#root {
  font-size: 2rem;
  width: 100vw;
  height: 100vh;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul,
ol {
  list-style: none;
  display: flex;
}