progress[value] {
    --accent-clr: #ebac37;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    max-width: 200px;
    height: 2rem;

    border: 2px solid rgba(128, 85, 46, 0.5);
    border-radius: 4px;
}

progress[value]::-moz-progress-bar,
progress[value]::-webkit-progress-bar,
progress[value]::progress-bar {
    background-image: linear-gradient(left, var(--accent-clr), rgb(177, 121, 48));

    border-radius: 2px;
    background-size: 100% 100%;
}

progress[value]::-moz-progress-bar {
    background-image:
        -moz-linear-gradient(left, var(--accent-clr), rgb(177, 121, 48));
}

progress[value]::-webkit-progress-bar {
    background-image:
        -webkit-linear-gradient(left, var(--accent-clr), rgb(177, 121, 48));
}